* {
  margin: 0;
}
.App {
  height: 90vh;
  font-family: "Roboto Mono", monospace;
}
.header{
  position: fixed;
  top:5px;
  right: 20px;
}
.headerSection {
  display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.headerText {
  max-width: 350px;
}
